* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Volkhov", serif;
  font-family: "Roboto", sans-serif;
}
/* header */
.container {
  max-width: 1200px;
  padding: 0px;
}
.container2 {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
header {
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  /* box-shadow: 0 3px 9px rgb(0 0 0 / 5%); */
}
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  padding: 0px;
  border-bottom: none;
  z-index: 99 !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  height: 70px;
}
.navbar-fixed-top.scrolled a {
  color: #060606;
}
.navbar-fixed-top.scrolled span {
  color: #060606;
}
.navbar-fixed-top.scrolled input {
  border: 1px solid #7070703a;
}
.navbar-fixed-top.scrolled #switchButton .fa-sun {
  color: #060606;
}
.navbar-fixed-top.scrolled header {
  background-color: #fff;
}
.navbar-fixed-top.scrolled .switch i {
  color: #060606;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar {
  padding: 0px;
}
.navbar .navbar-brand {
  font-size: 32px;
  color: #fb811e;
  padding: 0px;
  position: relative;
  font-weight: 400;
}
.navbar .navbar-brand i {
  position: absolute;
  top: -10px;
  left: 55px;
  font-size: 20px;
}
.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}
.search_button {
  margin: 0 10px 0 10px;
}
.search_button input {
  width: 35px;
  height: 35px;
  background: url(./img/search.png) no-repeat 10px center;
  border-radius: 10em;
  padding: 0px 10px;
  background-color: #fff;
  transition: all 0.5s;
  cursor: pointer;
  overflow: visible;
  border: none;
}
.search_button input:focus-visible {
  outline: none;
}
.search_button input:focus {
  width: 200px;
  padding-left: 32px;
  padding-right: 15px;
}
.switch {
  width: 35px;
  height: 35px;
}
.menu {
  margin: 0;
  color: #fff;
  z-index: 99;
  font-size: 29px;
}
.menu li {
  list-style-type: none;
  position: relative;
  width: 100%;
  text-align: center;
  display: block;
}
.menu input {
  display: none;
}
.menu label {
  position: relative;
  display: block;
  transition: background 0.3s;
  cursor: pointer;
  text-align: center;
  margin: 0;
}
.menu .submenu {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background: #fff;
  transition: max-height 0.5s ease-out;
  position: absolute;
  min-width: 8em;
  right: 0;
  border-radius: 4px;
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
}
.menu input:checked ~ .submenu {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
  background-color: #fff;
}
.submenu a {
  color: black;
  display: block;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
.submenu .current_page_item a {
  color: #fb811e;
}
.submenu a:hover {
  text-decoration: none;
  color: #fb811e;
}
/* header */

/* carousel */
.carousel_left {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.carousel_left h2 {
  color: #f4f4f4;
  font-size: 120px;
  font-weight: bold;
  margin-left: -0.5em;
}
.carousel_left_content {
  position: absolute;
  top: -160px;
  right: -95px;
  z-index: 60;
  width: 560px;
}
.content_items h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}
p.banner-text {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
  font-weight: 200;
}
.content_items a {
  margin-top: 30px;
}
.btn-style {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 400;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}
.btn-style:hover {
  background: #009f4d;
  color: #ffffff;
}
.carousel-inner {
  border-bottom-left-radius: 20px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 17%);
  top: 0;
}
.carousel-item img {
  height: 100vh;
  overflow: hidden;
  background-position: center;
  object-fit: cover;
}
.content_items {
  z-index: 40;
}
.farm_text {
  position: absolute;
  top: -080px;
  z-index: -1;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 6px;
  cursor: pointer;
  opacity: 1;
}
.carousel-indicators .active {
  background-color: #fb811e;
}
.carousel-caption {
  position: absolute;
  right: -650px;
  bottom: 10px;
}
/* carousel */

/* feature */
h5.small-title {
  color: #fb811e;
  font-size: 22px;
}
.title-style {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}
.feature_left p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
.feature .box-wrap {
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.07);
  background-color: #fff;
}
.right_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.box-wrap img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}
.feature .box-wrap h4 a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #060606;
  text-decoration: none;
  background-color: transparent;
}
.feature .box-wrap:hover {
  transition: 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 20%);
}
/* feature */

/* service */
.service {
  background: #009f4d;
}
.service_title {
  z-index: 1;
}
h5.small-title {
  font-size: 22px;
}
.title-style {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
.text-white {
  color: #fff !important;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
h4.title-bg-content {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.service .card {
  border: none;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: 20px;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
}
.card-header a {
  background-color: transparent;
}
.service .card img {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.img-responsive {
  max-width: 100%;
  width: 100%;
}
.service-details {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border: 1px solid #eee;
  border-top: none;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
}
.service span.label-style {
  color: #009f4d;
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}
a.service-heading {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #060606;
  margin: 15px 0;
  background-color: transparent;
}
.card-body p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
a.service-heading:hover {
  text-decoration: none;
  color: #009f4d;
}
/* service */

/* experience */
h5.small-title {
  color: #fb811e;
  font-size: 22px;
}
.title-style {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}
.about-right-faq {
  padding-top: 100px;
}
.about-right-faq p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
.grids_info span.fa {
  font-size: 30px;
  color: #fb811e;
}
.grids_info h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}
.radius-image {
  border-radius: 30px;
}
.imginfo__box {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 30px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}
.imginfo__box .imginfo__title {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}
.imginfo__box p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
}
/* experience */
/*start Services  */
.HomePageServices a {
  text-decoration: none;
}
.feature15-para h4 {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  color: black;
}
.feature15-para p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
.feature-unit:hover h4 {
  color: #009f4d;
  transition: 0.3s;
}
.feature-unit {
  border-radius: 16px;
  border: 1px solid transparent;
  transition: 0.3s;
}
.feature-unit:hover {
  border: 1px solid #eee;
  box-shadow: -1px 2px 12px -9px rgba(0, 0, 0, 0.41);
  transition: 0.3s;
}
.feature15-col-text {
  margin-top: 30px;
}
/* end Services  */
/* start Gallery  */
@media screen and (max-width: 450px) {
  .gallery_img_grid:nth-child(1) {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1em;
  }
}
.HomePageGallery h5 {
  color: #fb811e;
  font-size: 22px;
}
.HomePageGallery h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
.HomePageGallery p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
.HomePageGallery .btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: 0.25s;
}
.HomePageGallery .btn-style:hover {
  background: #009f4d;
  color: #fff;
}
.HomePageGallery .btn-style:focus {
  color: #fff;
  background-color: #956fef;
  border-color: #956fef;
  box-shadow: 0 0 0 0.2rem rgb(102 16 242 / 35%);
}
.HomePageGallery .btn-style:focus:hover {
  background: #009f4d;
}
.gallery__effect figure {
  position: relative;
  overflow: hidden;
}
.gallery__effect figure::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -75%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
}

.gallery__effect figure:hover::before {
  transition: 0.75s;
  left: 100%;
}
.gallery__item figure .gall-text {
  position: absolute;
  z-index: 0;
  color: #fff;
  bottom: 0;
  font-weight: bold;
  background: rgb(255 255 255 / 27%);
  padding: 6px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 20px;
}
.gallery__item figure {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.gallery__item figure img {
  width: 100%;
}
/* end Gallery  */
/* start testimonial */
.w31-client-1 {
  height: 500px;
  background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/bg1.jpg);

  background-size: cover;
  position: relative;
  z-index: 1;
}
.w31-client-1:before {
  content: "";
  background: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.testimonial__item {
  max-width: 900px;
  margin: auto;
}
.testimonial__content p,
.testimonial__content h3 {
  color: white;
}
.testimonial__content p {
  font-size: 17px;
  line-height: 27px;
}
.second__type {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
}
.testimonial__content .second__type i {
  color: #707070;
  font-size: 10px;
}
.testimonial__box i {
  color: #fb811e;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
}
a.testi-img {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
}
.owl-carousel .owl-dot {
  user-select: none;
}
button:focus {
  outline: none;
  outline: none;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #fb811e;
}
.owl-theme .owl-dots .owl-dot span {
  background: rgb(170, 170, 170, 0.5);
}
/* end testimonial  */
/* footer  */
.w31-footer-16 .subscribe input {
  background: #f4f4f4;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  color: #707070;
  border: 1px solid #eee;
  border-radius: 30px 0 0 30px;
}
.w31-footer-16 .subscribe button {
  background: #009f4d;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 12px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
}
.w31-footer-16 ul.social li {
  display: inline-block;
  margin-right: 5px;
}
.w31-footer-16 ul.social li a {
  color: #009f4d;
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.w31-footer-16 ul.social li a i {
  font-size: 15px;
  line-height: 35px;
}
.w31-footer-16 a,
.w31-footer-16 p {
  text-decoration: none;
  color: #707070;
}
.w31-footer-16 .Find_Us a:hover {
  color: #fb811e;
  transition: 0.3s;
}
.w31-footer-16 .FooterLogo a {
  color: #fb811e;
}
.w31-footer-16 .FooterLogo a:hover {
  color: black;
  transition: 0.3s;
}
.w31-footer-16 .CopyRights a {
  color: #009f4d;
}
.w31-footer-16 .CopyRights a:hover {
  color: #fb811e;
  transition: 0.3s;
}
.w31-footer-16 ul.social li a:hover {
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
  transition: 0.3s;
}
.w31-footer-16 button:hover {
  opacity: 0.8;
}
/* end footer  */
/* back to top */
.backToTop {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 9;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 40px;
  height: 40px;
  background: #009f4d;
  border-radius: 4px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.backToTop i {
  text-decoration: none;
  color: #fff;
}
.backToTop:hover {
  opacity: 0.8;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
/* back to top */

/* dark mode */
.switch {
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch .btn i {
  font-size: 30px;
  color: #fff;
}
.switch .btn:focus {
  box-shadow: none;
}
/* 1.light theme  */
.switch button {
  border: none;
}
.switch button i {
  font-size: 28px;
}
.fa-sun {
  font-size: 28px;
}
#myBody {
  background-color: white;
}
#switchButton {
  background-color: transparent;
}
#switchButton .fa-moon {
  display: none;
}
#switchButton .fa-sun {
  display: block;
  color: white;
}

#switchButton i:hover {
  color: #fb811e;
  transition: 0.3s;
}
/* 2. dark theme  */
.dark#myBody {
  background-color: #222222;
}
.dark #switchButton {
  background-color: transparent;
}
.dark #switchButton .fa-moon {
  display: block;
  color: white;
}
.dark #switchButton .fa-sun {
  display: none;
}
.dark #switchButton i:hover {
  color: #fb811e;
  transition: 0.3s;
}
.dark h3,
.dark h4 {
  color: white;
}
.dark h2 {
  color: black;
}
.dark .navbar-fixed-top.scrolled a {
  color: white;
}
.dark .navbar-fixed-top.scrolled {
  background-color: black !important;
  padding: 0px;
  border-bottom: none;
  z-index: 99 !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  height: 70px;
}
.dark .navbar-fixed-top.scrolled span {
  color: white;
}
.dark .menu input:checked .submenu {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
  background-color: black;
}
.dark .navbar-fixed-top.scrolled .menu a {
  color: black;
}
/* dark mode */
/*responsive tablet*/
@media (min-width: 768px) and (max-width: 992px) {
  .container,
  .container-fluid {
    max-width: 720px;
  }
  .collapse:not(.show) {
    display: flex;
  }
  .navbar-collapse {
    flex-basis: 70%;
    align-items: center;
  }
  .navbar {
    padding-top: 15px;
    display: flex;
  }
  .carousel_left_content {
    position: absolute;
    left: 0px;
  }
  .carousel_left_content .farm_text {
    font-size: 80px;
    position: absolute;
    left: 15px;
    top: -55px;
  }
  .content_items {
    width: 55%;
  }
  .content_items h3 {
    font-size: 32px;
    display: block;
    line-height: 42px;
  }
  .carousel-caption {
    position: absolute;
    right: -250px;
  }
  .carousel-inner {
    width: 110%;
  }
}
/*responsive tablet*/

/*responsive moblie*/
@media (max-width: 768px) {
  .container,
  .container-fluid {
    max-width: 540px;
  }
  .container-fluid {
    margin: 0;
    padding: 0;
  }
  .carousel .row {
    width: 135%;
  }
  .carousel_left {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 40px;
  }
  .carousel_left .carousel_left_content {
    background: #fff;
    padding: 5em 3em 2em 4em;
    border-radius: 8px;
    position: absolute;
    top: 100px;
    right: 48px;
    width: 87%;
  }
  .carousel_left h2 {
    color: #f4f4f4;
    font-size: 80px;
    font-weight: bold;
    margin-left: -0.5em;
  }
  .carousel .content_items h3 {
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
  }
  .farm_text {
    position: absolute;
    top: 15px;
    left: 65px;
  }
  .imginfo__box {
    left: -35px;
  }
  .collapse:not(.show) {
    display: flex;
  }
  .navbar {
    padding-top: 15px;
    display: flex;
  }
  .navbar-collapse {
    flex-basis: 50%;
    align-items: center;
  }
  .navbar .navbar-brand {
    color: #fff;
  }
  .navbar .navbar-brand {
    font-size: 32px;
    color: #fb811e;
    padding: 0px;
    position: relative;
    font-weight: 400;
  }
}
/*responsive moblie*/
